# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec.bak

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# PyInstaller
*.manifest
*.log

# Project artifacts
Output/
.tmp/

# OS
.DS_Store
Thumbs.db
